body {
	
	background-color: #ecf0f1;
	font-family: 'Roboto', sans-serif;	
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	font-weight: lighter;

}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	font-weight: lighter;
}


.titlecontainer {
	max-width: 900px;
	margin: 0 auto;
	padding-top: 60px;
}

	.titlecontainerimage {
		height: 20px;

	}

	.titlecontainertext {
		position: absolute;
	}
.fixed-nav-bar {
		position: fixed;
		padding-top: 10px;
  		top: 0;
  		left: 0;
  		z-index: 9999;
  		width: 100%;
  		height: 50px;
  		text-align: center;
  		font-size: .8em;
  		background-color: white;
 }

	.fixed-nav-bar a {
		color: black;
		text-decoration: none ;
	}

	.fixed-nav-bar a:visited {
		color: black;
		text-decoration: none ;
	}
	.fixed-nav-bar a:hover{
		color:#0000FF;
}
	.menubuttonsright {
		position: absolute;
		right: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		display: inline-block;
	} 
	.menubuttonsleft {
		position: absolute;
		left: 18px;
		top: 20px;
		padding-right: 10px;
		padding-bottom: 10px;
		display: inline-block;
	} 

		.menubuttonsleft a {
			margin-right: 10px;

		}
.logo{
	display: inline-block;	
}
